*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content:space-between;  
}

header{
    display: flex;
    height: 100vh;
    position: fixed;
    box-sizing: border-box;
    background-color: #487979;
}

header section{
    width: 15rem;
}

header section h1{
    font-size: 40px;
    text-align: center;
    margin-top: 1em;
}

header ul{
    list-style: none;
    text-align: left;
    margin-left: 2.5em;
    margin-top: 2em;
}
 header ul li{
    color: white;
    padding-bottom: 1em;
    font-size: 20px;
}

section ul a{
    text-decoration: none;
    color: white;
}

section ul a:hover{
    color: black;
    transition: 0.3s;
}
main{
    height: 100vh;
    box-sizing: border-box;
    flex: 1;
    margin-left: 15rem;
}

section.forms{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
form{
    margin: 1em;
}

main h2{
    margin:1em
}

.cards{
    display: flex;
    flex-wrap: wrap;
    margin:1em;
    gap: 1em;   
}

main section div{
    border: 1px solid grey;
    height: 220px;
    width: 200px;
}

main section div p{
  background-color: #eeee; 
  height: 170px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 30px;
}
    
main div figure{
    display: flex;
    gap: 15px;
    justify-content: center;
    height: 50px;
    align-items: center;
    background-color: white;
}

main div img{
    height: 20px;
}


